# /etc/pcrontab: system-wide pcrontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.
# Note: keep the last line empty or you may lost the last entry

SHELL=/bin/sh
# You can also override PATH, but by default, newer versions inherit it from the environment
#PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .------------------- 15 seconds (0 - 3)
# |  .---------------- minute (0 - 59)
# |  |  .------------- hour (0 - 23)
# |  |  |  .---------- day of month (1 - 31)
# |  |  |  |  .------- month (1 - 12)
# |  |  |  |  |  .---- day of week (0 - 6) (Sunday=0) 
# |  |  |  |  |  | 
# *  *  *  *  *  * command to be executed
#
